# Database configuration
POSTGRES_USER=chintit
POSTGRES_PASSWORD=your_secure_postgres_password

# Elasticsearch configuration
ELASTIC_PASSWORD=your_secure_elastic_password

SPRING_R2DBC_URL=r2dbc:postgresql://***
SPRING_DATA_REDIS_HOST=redis-cache

POSTGRES_USER=chintit
SPRING_R2DBC_USERNAME=chintit

POSTGRES_PASSWORD=****
# SPRING_R2DBC_PASSWORD=uxMrtPvQHXluhLTgIBfrwX0vCNfdJdzBLa1M85Id
SPRING_R2DBC_PASSWORD=****
POSTGRES_DB=****

ELASTIC_PASSWORD=****

JWT_SECRET_KEY=****
